@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h2 {
    font-family: 'Press Start 2P', cursive;
}

body {
    font-family: 'Press Start 2P', cursive;
}

.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
}

.grid div {
    height: 40px;
    width: 40px;
}

.bomb {
    background-color: red;
}

.checked {
    background-color: green;
}